name: "Build and Deploy"

on:
  workflow_call:
    inputs:
      service_name:
        required: true
        type: string

jobs:
  determine-environment:
    runs-on: ubuntu-latest
    outputs:
      repo: ${{ steps.set-env.outputs.repo }}
      image: ${{ steps.set-env.outputs.image }}
    
    steps:
      - name: Determine Environment
        id: set-env
        run: |
          if [ "${{ github.ref_name}}" == "main" ]; then
            echo "repo=prod-registry" >> "$GITHUB_OUTPUT"
            echo "image=prod-${{ inputs.service_name }}" >> "$GITHUB_OUTPUT"

          elif [ "${{ github.ref_name}}" == "dev" ]; then
            echo "repo=dev-registry" >> "$GITHUB_OUTPUT"
            echo "image=dev-${{ inputs.service_name }}" >> "$GITHUB_OUTPUT"

          else
            echo "Unexpected branch name: ${{ github.ref_name }}, failing the job"
            exit 1
          fi
      
      - name: Test Environment Variables
        run: |
          echo "repo: ${{ steps.set-env.outputs.repo }}"
          echo "image: ${{ steps.set-env.outputs.image }}"