name: "Load Secrets from GCP and Encrypt"

on:
  workflow_call:
    inputs:
      secrets:
        required: true
        type: string

    secrets:
      service_account:
        required: true
      
      workload_identity_provider:
        required: true
      
      project_id:
        required: true
      
      encryption_key:
        required: true
    
    outputs:
      secrets:
        value: ${{ jobs.load-secrets.outputs.secrets }}
        
jobs:
  load-secrets:
    permissions:
      contents: 'read'
      id-token: 'write'
      
    runs-on: ubuntu-latest

    steps:
      - name: GCP authentication
        uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.service_account }}
          workload_identity_provider: ${{ secrets.workload_identity_provider}}
      
      # Format: output_name:secret_name
      - id: parse_inputs
        name: Parse multiline input with secret names
        run: |-
          keys=""

          while IFS= read -r line; do
            output_name=$(echo "$line" | cut -d ':' -f 1)
            secret_name=$(echo "$line" | cut -d ':' -f 2-)
            keys="${keys}${output_name}:${{ secrets.project_id }}/${secret_name}\n"
          done <<< "${{ inputs.secrets }}"
            
          echo "keys<<EOF" >> "$GITHUB_OUTPUT"
          echo -e "${keys%\\n}" >> "$GITHUB_OUTPUT"
          echo "EOF" >> "$GITHUB_OUTPUT"
          
      - id: fetch_secrets
        name: Fetch secrets
        uses: google-github-actions/get-secretmanager-secrets@v2
        with:
          secrets: ${{ steps.parse_inputs.outputs.keys }}
      
      - id: encrypt_secrets
        name: Encrypt secrets
        run: |
          combined_secrets=""
          fetched_secrets='${{ toJson(steps.fetch_secrets.outputs) }}'

          jq -r 'to_entries | map(.key + "|" + (.value | tostring)) | .[]' <<<"$fetched_secrets" | \
          while IFS='|' read key value; do
            encrypted_secret=$(echo -n "$value" | openssl enc -aes-256-cbc -salt -pbkdf2 -pass pass:'${{ secrets.encryption_key }}' | base64)
            secret_definition="${key}=${encrypted_secret}"
            combined_secrets="${combined_secrets}${secret_definition}\n"
          done

          echo "combined_secrets<<EOF" >> "$GITHUB_OUTPUT"
          echo -e "${combined_secrets%\\n}" >> "$GITHUB_OUTPUT"
          echo "EOF" >> "$GITHUB_OUTPUT"
    
    outputs:
      secrets: ${{ steps.encrypt_secrets.outputs.combined_secrets }}